<div class="message others mb-2">
    <div class="content">
        <div class="text">
            <p><strong><%=User.find(message.sent_by).name%></strong>: <%=message.text%> </p>
        </div>
    </div>
</div>