<div class="card">
    <div class="card-body">
        <small>Logged in as: </small>
        <%if current_user%>
            <b><%=current_user.name%></b>
        <%else%>
            <b> Here user name</b>
        <%end%>
    </div>
</div>